/* CSS Document */

/* copyright Animation Brewery 2015 */

/*Font declarations*/
/*Global styles -----------------------------------------------------------------------------------------------------------*/

/*limited reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align:baseline;
   
}

/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
    display: block;
}
a {
    color: white;
    text-decoration: none;
}

body{
background: url(../images/bg0.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 
}

#game, #character{
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}


/* Global classes */

/*micro-clearfix by Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/*/
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}
.cr {
    clear: right;
}
.cl {
    clear: left;
}
.cb {
    clear: both;
}


/*page-specific header styles*/

/*info section styles*/

/*specific container styles*/

/*main article styles*/
article h1 {
    font-family: Bitter, Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 2.8em;
    color: rgb(168, 88, 163);
    margin-bottom: .5em;
}
article h2 {
    font-family: Bitter, Georgia, Times, "Times New Roman", serif;
    font-size: 1.5em;
    color: rgb(65, 64, 66);
    margin-bottom: .5em;
    clear: both;
}
article h3 {
    font-family: Bitter, Georgia, Times, "Times New Roman", serif;
    font-size: 1.2em;
    color: rgb(251, 174, 44);
    font-weight: bold;
    margin-bottom: 0;
}

ul.links {
    list-style: none;
    margin: 0;
    padding 0;
}
ul.links li {
    margin-bottom: 1em;
}
/*table styles*/

/*form styles*/

/*footer styles */
