/* CSS Document */

/* copyright Animation Brewery 2015 */

/*Font declarations*/
/*Global styles -----------------------------------------------------------------------------------------------------------*/

/*limited reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, figure, canvas, video, th, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}
a {
	color: white;
	text-decoration: none;
}
body {
	/*background: url(../images/bg0.jpg) no-repeat center center fixed;*/
    
   
	font-family: kotta-one, serif;
	font-size: 80%;
}
#after {
	content: "";
	background: url(../images/bg0.jpg);
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#game, #character, #column3, #after {
	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-ms-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
}
/* Global classes */

/*micro-clearfix by Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/*/
/* For modern browsers */
.cf:before, .cf:after {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
	zoom: 1;
}
.cr {
	clear: right;
}
.cl {
	clear: left;
}
.cb {
	clear: both;
}
/*page-specific header styles*/

/*info section styles*/

/*specific container styles*/

/*main article styles*/
h1 {
	font-size: 2.8em;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.5em;
	text-transform: uppercase;
	padding-bottom: 10px;
}
#column1 {
	width: 50%;
	float: left;
}
#column2 {
	width: 40%;
	float: left;
	padding-left: 40px;
    z-index: 10000;
}
#column3 {
	width: 100%;
	float: left;
    visibility: hidden;
    display: none;
}
.text {
 padding 10px;
 margin 10px;
	font-size: 100%;
}
#user_name {
	width: 300px;
	font-size: 14px;
	padding: 4px;
	margin: 4px;
}
#country_type {
	font-size: x-small;
}
li {
	padding: 2px;
}
button {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
 filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99', GradientType=0);
	background-color: #599bb3;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	padding: 10px;
	margin: 10px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #3d768a;
}
button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background: -moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background: -webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background: -o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background: -ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
 filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3', GradientType=0);
	background-color: #408c99;
}
button:active {
	position: relative;
	top: 1px;
}
.unselectable {
	-webkit-user-select: none;
	/* Chrome/Safari */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;/* IE10+ */
}
/*
styles for the Start Game form:
*/
.logo {
	float: left;
}
.welcome_text {
	padding-left: 20px;
}
.welcome_text li {
	padding-left: 30px;
	list-style-type: none;
}
#top_title_padding {
	width: 100%;
	height: 20px;
	padding-bottom: 40px;
}
.form-field {
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #000000;
	-webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(000, 000, 000, 0.7) 0 1px 1px;
	-moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(000, 000, 000, 0.7) 0 1px 1px;
	box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(000, 000, 000, 0.7) 0 1px 1px;
	padding: 8px;
	margin-bottom: 20px;
	width: 280px;
}
.form-field:focus {
	background: #fff;
	color: #000000;
}
.form-container h2 {
	text-shadow: #000000 0 1px 0;
	font-size: 18px;
	margin: 0 0 10px 0;
	font-weight: bold;
	text-align: center;
}
.form-title {
	margin-bottom: 10px;
	color: #faf0be;
	text-shadow: #000000 0 1px 0;
}
.submit-container {
	margin: 8px 0;
	text-align: right;
}
.submit-button {
	border: 1px solid #292929;
	background: #6e5802;
	background: -webkit-gradient(linear, left top, left bottom, from(#fadb7d), to(#6e5802));
	background: -webkit-linear-gradient(top, #fadb7d, #6e5802);
	background: -moz-linear-gradient(top, #fadb7d, #6e5802);
	background: -ms-linear-gradient(top, #fadb7d, #6e5802);
	background: -o-linear-gradient(top, #fadb7d, #6e5802);
	background-image: -ms-linear-gradient(top, #fadb7d 0%, #6e5802 100%);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
	-moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
	box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
	text-shadow: #8f8f8f 0 1px 0;
	color: #4f4f4f;
	padding: 8.5px 18px;
	font-size: 14px;
	text-decoration: none;
	vertical-align: middle;
}
.submit-button:hover {
	border: 1px solid #ffffff;
	text-shadow: #4d4d4d 0 1px 0;
	background: #b39b00;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffeb66), to(#b39b00));
	background: -webkit-linear-gradient(top, #ffeb66, #b39b00);
	background: -moz-linear-gradient(top, #ffeb66, #b39b00);
	background: -ms-linear-gradient(top, #ffeb66, #b39b00);
	background: -o-linear-gradient(top, #ffeb66, #b39b00);
	background-image: -ms-linear-gradient(top, #ffeb66 0%, #b39b00 100%);
	color: #fff;
}
.submit-button:active {
	text-shadow: #000000 0 1px 0;
	border: 1px solid #ffdd57;
	background: #2e2e2e;
	background: -webkit-gradient(linear, left top, left bottom, from(#8a8a8a), to(#b39b00));
	background: -webkit-linear-gradient(top, #8a8a8a, #2e2e2e);
	background: -moz-linear-gradient(top, #8a8a8a, #2e2e2e);
	background: -ms-linear-gradient(top, #8a8a8a, #2e2e2e);
	background: -o-linear-gradient(top, #8a8a8a, #2e2e2e);
	background-image: -ms-linear-gradient(top, #8a8a8a 0%, #2e2e2e 100%);
	color: #ffcc00;
}
.start-button {
    padding:40px;
    margin:40px;
	border: 1px solid #ff0000;
	background: #ff0000;
	color: white;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
	-moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
	box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
	text-shadow: #8f8f8f 0 1px 0;
	padding: 8.5px 18px;
	font-size: 400%;
	text-decoration: none;
}
