/* CSS Document */

/* copyright Animation Brewery 2015 */

/*Font declarations*/
/*Global styles -----------------------------------------------------------------------------------------------------------*/

/*limited reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align:baseline;
   
}

/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
    display: block;
}
a {
    color: white;
    text-decoration: none;
}

body{
background: url(../images/bg0.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 	font-family: Bitter, Georgia, Times, "Times New Roman", serif;
}

#game, #character{
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}


/* Global classes */

/*micro-clearfix by Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/*/
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}
.cr {
    clear: right;
}
.cl {
    clear: left;
}
.cb {
    clear: both;
}


/*page-specific header styles*/

/*info section styles*/

/*specific container styles*/

/*main article styles*/
h1 {
    font-size: 2.8em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.2em;
}




.intro {

    width: 300px;
}


.text {
	float: right;
	width: 300px;
	padding 10px;
	margin 10px;
    font-size: 80%;
}

h3.title {
	float: right;
}

ul.win {

}


/*table styles*/

/*form styles*/

/*footer styles */
